Repository mp3000mp/template-symfony-vuejs: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov badge test
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  codecov.yml
Due: none

modif mr
  frontend/src/assets/css/app.scss
  frontend/src/assets/css/includes/_form.scss
  frontend/src/views/security/LoginPage.vue
Due: frontend

varia fixed
  frontend/src/views/security/LoginPage.vue
Due: frontend

card login design
  frontend/src/assets/css/app.scss
  frontend/src/assets/css/includes/_bootstrap.scss
  frontend/src/assets/css/includes/_mixin.scss
  frontend/src/views/security/LoginPage.vue
Due: frontend

add spaces
  frontend/src/views/security/LoginPage.vue
Due: frontend

Delete template-symfony.iml
  .idea/template-symfony.iml
Due: none

Delete .gitignore
  .idea/.gitignore
Due: none

Delete Project_Default.xml
  .idea/inspectionProfiles/Project_Default.xml
Due: none

Delete php.xml
  .idea/php.xml
Due: none

Delete private.pem
  backend/backend/config/jwt/private.pem
Due: none

Delete modules.xml
  .idea/modules.xml
Due: none

Delete vcs.xml
  .idea/vcs.xml
Due: none

Update backend/.env
  backend/.env
Due: none

card login design (#5)
  frontend/src/assets/css/app.scss
  frontend/src/assets/css/includes/_bootstrap.scss
  frontend/src/assets/css/includes/_form.scss
  frontend/src/views/security/LoginPage.vue
Due: frontend

readme coverage
  README.md
Due: none

upgrade symfony 5.2.8 and remmove redis dependecy
  .gitignore
  backend/.env
  backend/.env.test
  backend/.gitignore
  backend/.php-cs-fixer.dist.php
  backend/composer.json
  backend/composer.lock
  backend/config/packages/lexik_jwt_authentication.yaml
  backend/config/packages/security.yaml
  backend/config/packages/test/doctrine.yaml
  backend/config/services.yaml
  backend/migrations/.gitignore
  backend/src/Controller/AppController.php
  backend/src/Security/UserChecker.php
  backend/symfony.lock
  deployment/ansible/roles/build_back/templates/.env.j2
  deployment/ansible/roles/docker/templates/.env.j2
  deployment/ansible/roles/docker/templates/docker-compose.yml.j2
  deployment/ansible/vars.example.yml
  deployment/docker/.env.example
  deployment/docker/backend/Dockerfile
  deployment/docker/docker-compose-ci.yml
  deployment/docker/docker-compose.yml
  doc/deployment.md
Due: backend

yarn upgrade
  frontend/package.json
  frontend/yarn.lock
Due: none

new design
  backend/.env
  backend/.env.test
  backend/.php-cs-fixer.dist.php
  backend/.php_cs.dist
  backend/src/Controller/UserController.php
  backend/src/Helper/Request/JsonRequestHelper.php
  backend/src/Security/UserChecker.php
  backend/tests/Functional/Controller/AbstractControllerTest.php
  backend/tests/Functional/Controller/UserControllerTest.php
  deployment/docker/docker-compose-ci.yml
  deployment/docker/docker-compose.yml
  doc/frontend.md
  frontend/src/assets/css/app.scss
  frontend/src/assets/css/includes/_bootstrap.scss
  frontend/src/assets/css/includes/_footer.scss
  frontend/src/assets/css/includes/_form.scss
  frontend/src/assets/css/includes/_header.scss
  frontend/src/assets/css/includes/_table.scss
  frontend/src/store/modules/security/getters.ts
  frontend/src/store/modules/users/actions.ts
  frontend/src/store/modules/users/state.ts
  frontend/src/views/Home.vue
  frontend/src/views/admin/UserRow.vue
  frontend/src/views/admin/UsersPage.vue
  frontend/src/views/security/ForgottenPasswordReset.vue
  frontend/src/views/security/LoginPage.vue
Due: backend, frontend

deployment
  backend/src/Command/CreateUserCommand.php
  deployment/ansible/roles/apache/templates/vhost_back.conf.j2
  deployment/ansible/roles/apache/templates/vhost_front.conf.j2
  deployment/ansible/roles/build_back/tasks/main.yml
  deployment/ansible/roles/build_front/templates/variables.json.j2
  deployment/ansible/roles/docker/tasks/main.yml
  deployment/ansible/roles/docker/templates/docker-compose.yml.j2
  deployment/ansible/site.yml
  doc/backend.md
Due: backend

change json validator library
  .gitignore
  backend/.env
  backend/composer.json
  backend/composer.lock
  backend/src/Command/CreateUserCommand.php
  backend/src/DataFixtures/AppDevFixtures.php
  backend/src/DataFixtures/AppFixtures.php
  backend/src/DataFixtures/AppProdFixtures.php
  backend/src/DataFixtures/AppTestFixtures.php
  backend/src/Helper/Request/JsonRequestHelper.php
  backend/src/schemas/user_all.json
  backend/symfony.lock
  backend/tests/Functional/Controller/AbstractControllerTest.php
  backend/tests/Functional/Controller/UserControllerTest.php
  frontend/src/helpers/apiClient.ts
  frontend/src/helpers/apiRegistry.ts
  frontend/src/main.ts
  frontend/tests/unit/helpers/apiClient.spec.ts
  frontend/tests/unit/helpers/apiRegistry.spec.ts
Due: backend, frontend

php lint
  backend/src/DataFixtures/AppDevFixtures.php
  backend/src/DataFixtures/AppProdFixtures.php
  backend/src/DataFixtures/AppTestFixtures.php
  backend/src/Helper/Request/JsonRequestHelper.php
Due: backend

display version on front
  backend/config/packages/security.yaml
  backend/config/services.yaml
  backend/src/Controller/AppController.php
  deployment/ansible/roles/build_back/templates/.env.j2
  deployment/ansible/vars.example.yml
  frontend/src/App.vue
  frontend/src/store/index.ts
  frontend/src/store/modules/app/actions.ts
  frontend/src/store/modules/app/getters.ts
  frontend/src/store/modules/app/index.ts
  frontend/src/store/modules/app/mutations.ts
  frontend/src/store/modules/app/state.ts
  frontend/src/store/modules/app/types.ts
  frontend/src/store/types.ts
Due: backend, frontend

app info tests
  backend/tests/Functional/Controller/AppControllerTest.php
Due: none

tests user create command
  backend/tests/Functional/Command/AbstractCommandTest.php
  backend/tests/Functional/Command/CreateUserCommandTest.php
Due: none

command test
  backend/config/packages/gesdinet_jwt_refresh_token.yaml
  backend/config/packages/lexik_jwt_authentication.yaml
  backend/src/Controller/AppController.php
  backend/src/Controller/UserController.php
  backend/src/schemas/user_all.json
  backend/tests/Functional/Controller/AppControllerTest.php
  backend/tests/Functional/Controller/UsersControllerTest.php
  frontend/src/store/modules/security/getters.ts
  frontend/src/store/modules/users/state.ts
  frontend/src/views/account/AccountPage.vue
  frontend/src/views/layout/Header.vue
  frontend/tests/unit/views/layout/Header.vue.spec.ts
Due: backend, frontend

fix front test
  backend/.env
  frontend/tests/unit/views/layout/Header.vue.spec.ts
Due: none

upgrade symfony 5.3
  backend/composer.json
  backend/composer.lock
  backend/config/packages/security.yaml
  backend/config/services.yaml
  backend/src/Command/CreateUserCommand.php
  backend/src/Controller/PasswordController.php
  backend/src/DataFixtures/UserFixtures.php
  backend/src/Entity/User.php
  backend/symfony.lock
  backend/tests/Functional/Controller/ExceptionControllerTest.php
Due: backend

added e2e tests
  backend/.env
  backend/config/packages/doctrine.yaml
  backend/config/packages/framework.yaml
  backend/config/packages/security.yaml
  backend/config/services.yaml
  deployment/ansible/roles/build_back/templates/.env.j2
  deployment/ansible/roles/build_front/templates/variables.json.j2
  doc/deployment.md
  frontend/config/variables.example.json
  frontend/src/App.vue
  frontend/src/views/account/AccountPage.vue
  frontend/tests/e2e/specs/account/account.spec.js
  frontend/tests/e2e/specs/admin/users.spec.js
  frontend/tests/e2e/specs/security/forgottenPassword.spec.js
  frontend/tests/e2e/specs/security/login.spec.js
  frontend/tests/e2e/specs/security/refreshToken.spec.js
  frontend/tests/e2e/specs/security/resetPassword.spec.js
  frontend/tests/e2e/support/commands.js
Due: frontend

added front tests
  backend/src/Controller/PasswordController.php
  backend/tests/Functional/Controller/PasswordControllerTest.php
  frontend/src/views/account/AccountPage.vue
  frontend/tests/e2e/specs/account/account.spec.js
  frontend/tests/e2e/specs/admin/users.spec.js
  frontend/tests/e2e/specs/security/logout.spec.js
Due: backend, frontend

added users filter
  backend/.env
  backend/composer.json
  backend/composer.lock
  backend/config/packages/messenger.yaml
  backend/config/packages/test/framework.yaml
  backend/src/DataFixtures/AppProdFixtures.php
  backend/symfony.lock
  frontend/src/views/admin/UsersPage.vue
Due: backend, frontend

added sort to users list
  frontend/src/views/admin/UserRow.vue
  frontend/src/views/admin/UsersPage.vue
Due: frontend

upgraded dependencies
  frontend/package.json
  frontend/src/helpers/apiClient.ts
  frontend/yarn.lock
Due: frontend

js package update
  frontend/package.json
  frontend/yarn.lock
Due: none

minor design update
  frontend/package.json
  frontend/src/assets/css/includes/_form.scss
  frontend/yarn.lock
Due: frontend

upgrade vue3.2
  deployment/ansible/roles/build_front/templates/variables.json.j2
  frontend/package.json
  frontend/src/App.vue
  frontend/src/views/Home.vue
  frontend/src/views/account/AccountPage.vue
  frontend/src/views/admin/UserRow.vue
  frontend/src/views/admin/UsersPage.vue
  frontend/src/views/layout/Header.vue
  frontend/src/views/security/ForgottenPasswordReset.vue
  frontend/src/views/security/LoginPage.vue
  frontend/yarn.lock
Due: frontend

upgrade symfony 5.4 php 8.1
  backend/.env
  backend/composer.json
  backend/composer.lock
  backend/config/bundles.php
  backend/config/packages/gesdinet_jwt_refresh_token.yaml
  backend/config/packages/security.yaml
  backend/config/routes.yaml
  backend/config/routes/framework.yaml
  backend/src/Controller/PasswordController.php
  backend/src/Controller/UserController.php
  backend/src/DataFixtures/UserFixtures.php
  backend/src/Entity/User.php
  backend/src/EventSubscriber/ExceptionEventSubscriber.php
  backend/src/Security/Exception/AccountDisabledException.php
  backend/symfony.lock
  backend/tests/Functional/Command/AbstractCommandTest.php
  backend/tests/Functional/Command/CreateUserCommandTest.php
  backend/tests/Functional/Controller/AbstractControllerTest.php
  backend/tests/Functional/Controller/AppControllerTest.php
  backend/tests/Functional/Controller/ExceptionControllerTest.php
  backend/tests/Functional/Controller/PasswordControllerTest.php
  backend/tests/Functional/Controller/SecurityControllerTest.php
  backend/tests/Functional/Controller/UsersControllerTest.php
  deployment/docker/backend/Dockerfile
Due: backend

upgrade phpunit 9
  backend/phpunit.xml.dist
  backend/tests/Unit/Service/MailerServiceTest.php
  frontend/src/views/admin/UserRow.vue
  frontend/src/views/security/ForgottenPasswordReset.vue
Due: frontend

refactor: replace vuex with pinia
  .gitignore
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/helpers/apiClient.ts
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/store/index.ts
  frontend/src/store/modules/app/actions.ts
  frontend/src/store/modules/app/getters.ts
  frontend/src/store/modules/app/index.ts
  frontend/src/store/modules/app/mutations.ts
  frontend/src/store/modules/security/actions.ts
  frontend/src/store/modules/security/getters.ts
  frontend/src/store/modules/security/index.ts
  frontend/src/store/modules/security/mutations.ts
  frontend/src/store/modules/users/actions.ts
  frontend/src/store/modules/users/index.ts
  frontend/src/store/modules/users/mutations.ts
  frontend/src/stores/app/index.ts
  frontend/src/stores/app/state.ts
  frontend/src/stores/app/types.ts
  frontend/src/stores/security/index.ts
  frontend/src/stores/security/state.ts
  frontend/src/stores/security/types.ts
  frontend/src/stores/types.ts
  frontend/src/stores/users/index.ts
  frontend/src/stores/users/state.ts
  frontend/src/stores/users/types.ts
  frontend/src/views/account/AccountPage.vue
  frontend/src/views/admin/UserRow.vue
  frontend/src/views/admin/UsersPage.vue
  frontend/src/views/layout/Header.vue
  frontend/src/views/security/ForgottenPasswordReset.vue
  frontend/src/views/security/LoginPage.vue
  frontend/tests/unit/helpers/apiClient.spec.ts
  frontend/tests/unit/views/layout/Header.vue.spec.ts
  frontend/vue.config.js
  frontend/yarn.lock
Due: frontend

refactor: replace vuex with pinia
  .gitignore
  deployment/docker/docker-compose-ci.yml
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/helpers/apiClient.ts
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/store/index.ts
  frontend/src/store/modules/app/actions.ts
  frontend/src/store/modules/app/getters.ts
  frontend/src/store/modules/app/index.ts
  frontend/src/store/modules/app/mutations.ts
  frontend/src/store/modules/security/actions.ts
  frontend/src/store/modules/security/getters.ts
  frontend/src/store/modules/security/index.ts
  frontend/src/store/modules/security/mutations.ts
  frontend/src/store/modules/users/actions.ts
  frontend/src/store/modules/users/index.ts
  frontend/src/store/modules/users/mutations.ts
  frontend/src/stores/app/index.ts
  frontend/src/stores/app/state.ts
  frontend/src/stores/app/types.ts
  frontend/src/stores/security/index.ts
  frontend/src/stores/security/state.ts
  frontend/src/stores/security/types.ts
  frontend/src/stores/types.ts
  frontend/src/stores/users/index.ts
  frontend/src/stores/users/state.ts
  frontend/src/stores/users/types.ts
  frontend/src/views/account/AccountPage.vue
  frontend/src/views/admin/UserRow.vue
  frontend/src/views/admin/UsersPage.vue
  frontend/src/views/layout/Header.vue
  frontend/src/views/security/ForgottenPasswordReset.vue
  frontend/src/views/security/LoginPage.vue
  frontend/tests/unit/helpers/apiClient.spec.ts
  frontend/tests/unit/views/layout/Header.vue.spec.ts
  frontend/vue.config.js
  frontend/yarn.lock
Due: frontend

chore: fix ci
  backend/.env
  backend/phpstan.neon
  deployment/ansible/vars.example.yml
Due: none

Path conditions:
  backend: any of: backend/src
  frontend: any of: frontend/src
